    
    {{#each posts as |post|}}
    <div class="post-container">
        <div id="post-title" class="post-title display-flex justify-center"><h5><strong>{{post.title}}</strong> posted by {{post.user.name}}</h5></div>
        <div id="post-content" class="post-body col-12"><p>{{post.content}}</p></div>
    <div id="comments"><h5>Comments:</h5>
    {{#each post.comments as |comment|}}
    <div class="comment"><p>{{comment.content}}</p></div>
    {{/each}}
    </div>
    </div>
    {{/each}}