  <div id="edit-div" class="col-4">
    <textarea name="post-title" id="post-title" cols="30" rows="2">{{post.title}}</textarea>
    <textarea name="post-content" id="post-content" cols="30" rows="10">{{post.content}}</textarea>
    <button id="edit-post">Save</button>
  </div>


  <script src="/js/edit.js"></script>
