  <div id="edit-div" class="col-4">
    <textarea name="post-title" id="post-title" cols="30" rows="2">{{post.title}}</textarea>
    <textarea name="post-content" id="post-content" cols="30" rows="10">{{post.content}}</textarea>
    <div class="col-12 button-div">
    <button id="edit-post">Save</button>
    <button id="delete-post">Delete</button>
    </div>
  </div>

  <script src="/js/logout.js"></script>
  <script src="/js/edit.js"></script>
