  <div id="edit-div" class="col-4">
    <textarea name="post-title" id="post-title" cols="30" rows="2" placeholder="Title"></textarea>
    <textarea name="post-content" id="post-content" cols="30" rows="10" placeholder="Content"></textarea>
    <button id="new-post">Post!</button>
  </div>


  <script src="/js/profile.js"></script>