.post-container {
    margin: 8px;
    border: darkblue 2px solid;
}

.post-title {
    height: fit-content;
    margin: 15px;
    font-size: 24px;
    border: 2px #333 solid;
}

.post-body {
    margin: 8px;
    font-size: 16px;
}

p {
    font-size: 16px;
    margin: 5px;
}

#comments {
    height: fit-content;
    margin: 5px;
}

.comment {
    height: fit-content;
    margin: 15px;
    font-size: 24px;
    border: 2px #333 solid;
}



.user-posts-div {
    display: flex;
    justify-content: center;
    margin: 20px;
    /* align-items: center; */
}

.user-posts {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: 10px;
    border: 2px #333 solid;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#nav-profile {
    margin: 10px
}


#edit-div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#edit-button {
    width: fit-content;
}

textarea {
    margin: 10px;
}

#comment-div {
    display: flex;
    align-items: center;
    justify-content: center;
}