.post-container {
    /* margin: 8px; */
    border: darkblue 2px solid;
}

.post-title {
    height: fit-content;
    margin: 15px;
    font-size: 24px;
    border: 2px #333 solid;
}

.post-body {
    margin: 8px;
    font-size: 16px;
}

p {
    font-size: 16px;
    margin: 5px;
}

#comments {
    height: fit-content;
    margin: 5px;
}

.comment {
    height: fit-content;
    margin: 15px;
    font-size: 24px;
    border: 2px #333 solid;
}